body, html {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    width: 98%;
    margin: auto;
    padding: 20px;
}

.column {
    padding: 20px;
}

.score-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
    background-color: #e52617;
}

#total-highscores {
    width: 35%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pinball-highscores {
    width: 65%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Allgemeines Tabellendesign */
.table-highscores {
    width: 95%;
    border-collapse: collapse;
}

.table-highscores th, .table-highscores td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-highscores th:nth-child(1), .table-highscores td:nth-child(1) {
    width: 10%;
}

.table-highscores th:nth-child(2), .table-highscores td:nth-child(2) {
    width: 60%;
}

.table-highscores th:nth-child(3), .table-highscores td:nth-child(3) {
    width: 30%;
    text-align: right;
}

.table-highscores thead {
    background-color: #333;
    color: #fff;
}

.table-highscores tr:nth-child(even) {
    background-color: #f2f2f2;
}

.today-score {
    font-weight: bold;
}

h1, h2, h3 {
    font-weight: 700;
    color: #e52617;
}

select, input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.score-entry {
    max-width: 400px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #333333;
    transition: color 0.3s ease;
}

.menu i {
    font-size: 20px; /* Größe des Icons */
    color: #333333; /* Farbe des Icons */
}

.menu a:hover i {
    color: #e52617; /* Farbe des Icons beim Hover */
}

.menu a:hover {
    color: #e52617;
}

#header-logo {
    height: 50px;
}

#pinball-search-container {
    padding: 10px;
    text-align: center;
}

#pinball-search {
    width: 80%;
    padding: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#pinball-search:focus {
    outline: none;
    border-color: #e52617;
    box-shadow: 0 0 8px rgba(210, 60, 41, 0.6);
}

#page-footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}
@media (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    #total-highscores, #pinball-highscores {
        width: 90%;
        margin-bottom: 20px;
    }
     .table-highscores th, .table-highscores td {
        padding: 5px; /* Kleinere Padding für kleinere Bildschirme */
    }

    /* Optional: Anpassen der Spaltenbreiten für kleinere Bildschirme */
    .table-highscores th:nth-child(1), .table-highscores td:nth-child(1) {
        width: 5%; /* Beispielwert */
    }

    .table-highscores th:nth-child(2), .table-highscores td:nth-child(2) {
        width: 40%; /* Beispielwert */
    }

    .table-highscores th:nth-child(3), .table-highscores td:nth-child(3) {
        width: 40%; /* Beispielwert */
    }
}
