body, html {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    display: flex;
    width: 98%;
    margin: auto;
    padding: 20px;
}

.column {
    padding: 20px;
}

.score-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.submit-button {
    width: 100%;
    padding: 12px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.submit-button:hover {
    background-color: #D23C29;
}


#total-highscores {
    width: 35%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pinball-highscores {
    width: 65%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Allgemeines Tabellendesign */
.table-highscores {
    width: 100%;
    border-collapse: collapse;
}

.table-highscores th, .table-highscores td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Festlegen der Breite für die Spalten */
.table-highscores th:nth-child(1), .table-highscores td:nth-child(1) {
    width: 10%;
}

.table-highscores th:nth-child(2), .table-highscores td:nth-child(2) {
    width: 60%;
}

.table-highscores th:nth-child(3), .table-highscores td:nth-child(3) {
    width: 30%;
    text-align: right;
}

/* Stil für den Tabellenkopf */
.table-highscores thead {
    background-color: #333;
    color: #fff;
}

/* Zebra-Streifen für die Tabellenzeilen */
.table-highscores tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Fettgedruckter Text für heutige Spielstände */
.today-score {
    font-weight: bold;
}

h1, h2, h3 {
    font-weight: 700;
    color: #D23C29;
}

select, input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.score-entry {
    max-width: 400px;
    margin: auto;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #ffffff;
}

#header-logo {
    height: 50px;
}

#pinball-search-container {
    padding: 10px;
    text-align: center; /* Zentriert das Suchfeld in der Spalte */
}

#pinball-search {
    width: 80%; /* Anpassung der Breite des Suchfelds */
    padding: 8px; /* Gute Größe für das Padding */
    margin-bottom: 20px; /* Abstand nach unten */
    font-size: 16px; /* Leicht lesbare Schriftgröße */
    border: 1px solid #ddd; /* Grenze, die zum Design passt */
    border-radius: 5px; /* Abgerundete Ecken */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtiler Schatten für Tiefe */
}

/* Stil für das Suchfeld bei Fokus */
#pinball-search:focus {
    outline: none; /* Entfernt den Standard-Fokusrahmen */
    border-color: #D23C29; /* Farbe des Rahmens beim Fokus */
    box-shadow: 0 0 8px rgba(210, 60, 41, 0.6); /* Verstärkter Schatten beim Fokus */
}

#page-footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

#progress-bar-container {
    width: 80%;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin: 0 auto;
}

#progress-bar {
    height: 100%;
    background-color: #D23C29;
    border-radius: 5px;
    width: 0%; /* Initialwert */
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    #total-highscores, #pinball-highscores {
        width: 100%;
    }
}


