<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='playeroverview.js') }}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <header>
        <!-- Andere Header-Elemente, falls vorhanden -->
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" id="header-logo">
  </header>
   <div class="container">
       <div class="player-overview">
            <h2>Spielerübersicht</h2>
            <select id="player-select" onchange="fetchPlayerData()"></select>
            <h3 id="player-name"></h3>
            <h4 id="player-abbreviation"></h4>
            <p id="played-dates"></p>
       <table id="not-played-machines-table" class="table-highscores">
            <thead>
                <tr>
                    <th>Nicht gespielte Maschinen</th>
                </tr>
            </thead>
            <tbody id="not-played-machines"></tbody>
       </table>
        </div>
   </div>
</body>
</html>
